body, p, textarea {
    font-family: 'IBM Plex Sans Arabic', sans-serif !important;
    line-height: 1.6 !important;   /* تحسين المسافة بين السطور */
    margin-bottom: 0 !important;   /* إزالة المسافات الإضافية */
    font-size: 1rem !important;    /* حجم خط مناسب */
}
